* {
  margin: 0;
  padding: 0;
}

/* ------------------------
    General
------------------------*/
.min-height{
  min-height: 100vh;
}
.center-div{
  min-height: 50vh;
  align-items: center
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;

  margin-top: 0px;
  margin-bottom: 0px;
  
  letter-spacing: 1px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
   
}
h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 600;
   
}
h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
   
}
h4 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
   
}
h5 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
   
}
h6 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
   
}

a {
  color: #4196EB;
  text-decoration: none;
}

a:hover {
  color: #728b6b;
  text-decoration: none !important;
}
tbody{
  background-color: #ffffff;
}
.textCap{
  text-transform: capitalize;
}
li a:active{
  background: linear-gradient(93.53deg, #0466C8 -7.25%, #4C9EF0 106.1%);
    color: white;
}
body {
  overflow-x: hidden;
 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.span-h1 {
  font-size: 42px;
  line-height: 50px;
  font-weight: 600;
  color: #011627;

}
.span-h2{
  font-size: 42px;
  line-height: 50px;
  font-weight: 300;
  color: #011627;
}

.span-h3{
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  color: #011627;
}
.span-h4{
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #011627;
}
.span-h5{
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #011627;
}
.span-h5{
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #011627;
}

.text-color{
  color: #495057 !important;
}
.primary-color{
  background: linear-gradient(93.53deg, #0466C8 -7.25%, #4C9EF0 106.1%);
}
.secondary{
  background: #E87D0B;
}

/* 
  Style Acc. to Guide
*/
span{
  font-family: 'inter',sans-serif;
  font-weight: 500;
}
.cta-btn{
  font-family: 'inter', sans-serif;
  font-size: 16px;
 border-radius: 10px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0em;
  padding: 0.8em 1.8em;
  background:#4196EB;
  color: #ffffff ;
  border-color: transparent;
  box-shadow: 0 0em 0em rgb(0 0 0 / 0%);
width: 100%;
cursor: pointer;
}
.cta-btn:hover{
  transition: .6s;
  color:#4196EB;
  background-color: #ffffff ;
  border: #4196EB 1px solid;
}

